// hr{
//    color: black;
//   background-color:black;
//   height: 1px;
//   border: 0px;
// }

.blogDateTime{
  font-weight: bold;
  font-size: 14px;

}

.blogTitle{
  font-weight: bold;
  font-size: 23px;
}

.sectionHeader{
  font-weight: bold;
font-size: 23px;
}



.userList{
  font-weight: bold;
  font-size: 23px;
}

.postedBy{
  font-size: 14px;
  font-weight: bold;
  color: #cb00ff;
}







.textBodyArea{
  margin-top: 5px;
  border-radius: 8px;
  height: 499.5px;
  width: 95.5%;
    border:#919191 1px solid;
  padding: 6px;

}

.textBodyAreaC{
    margin-top: 5px;
    border-radius: 8px;
    height: 300px;
    width: 66.1%;
    padding: 6px 35px 6px 6px;


}
