hr{
   color: black;
  background-color:black;
  height: 1px;
  border: 0px;
}

.blogDateTime{
  font-weight: bold;
  font-size: 14px;
}

.blogWrapper{
  font-family: helvetica;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;

}
.createWrapper{
  font-family: helvetica;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;

}

.blogRight{
  width: 100%;
  float: right;
}


.blogLeft{
  width: 98%;
}

.createRight{
  width: 100%;
  float: right;
}


.createLeft{
  width: 100%;
}

.boxWrapper{
  border: 1px solid #d0d0d0;
  padding: 12px;
  border-radius: 8px;
}

.postTitleWrapper{
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 12px;
  overflow: visible;

}

.blogTitle{
  font-weight: bold;
  font-size: 23px;
}


.otherHeader{
  font-weight: bold;
  font-size: 23px;
}

.userList{
  font-weight: bold;
  font-size: 23px;
}

.postedBy{
  font-size: 14px;
  font-weight: bold;
  color: #cb00ff;
}


.link2{
  font-size: 14px;
  text-decoration: none;
  color: #919191;
}

a.link2:hover{
  text-decoration: underline #cb00ff;

}

.pictureNameArea{
  height: 20px;
  border-radius: 8px;
  // width: 92.5%;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}
.pictureDescriptionArea{
  height: 30px;
  border-radius: 8px;
  // width: 92.5%;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}
.textTitleArea{
  height: 20px;
  border-radius: 8px;
  width: 92.5%;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}
.textTitleAreaC{
  height: 20px;
  border-radius: 8px;
  width: 66.1%;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}

.textBodyArea{
  margin-top: 5px;
  border-radius: 8px;
  height: 499.5px;
  width: 95.5%;
    border:#919191 1px solid;
  padding: 6px;

}

.textBodyAreaC{
    margin-top: 5px;
    border-radius: 8px;
    height: 300px;
    width: 66.1%;
    padding: 6px 35px 6px 6px;


}
