// body{
//   background-color: #f2f2f2;
//   margin:0;
// }

.wrapper {
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}


.content{
  margin: 0 auto;
  font-family: helvetica;
  padding: 12px;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 75%;
  min-height: 100vh;
}

.images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;

}

h1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 5px;
  color: white;
  background-color: black;
  display: inline-block;
}

.symbol{
  color: #cb00ff;
}


.image1{


}
.image2{

}
.image3{

}

// @media only screen and (max-width: 1111px) {
//   .user1{
//     display: none;
//   }
//   .userName{
//     display:none;
//   }
// }
