
body{
  background: linear-gradient(
   rgba(242, 242, 242, .9),
   rgba(242, 242, 242, .9)
 ),
  image_url("newbg.jpg"),;

  // background-color: #f2f2f2!important;s
  margin:0;

}

h2 {
 overflow: hidden;
 text-align: center;
}
h2:before,
h2:after {
 background-color: #cb00ff;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h2:before {
 right: 0.5em;
 margin-left: -50%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}

.latestImage{
  color: white;
  padding: 4px;
  background:rgb(0,0,0);
      background:rgba(0,0,0,.70);
      // *background:transparent;
}

.carouselImage{
  width:100%;

}

#navBg{
  background-image: image_url('navbg3.jpg');
  // border-bottom: 2px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  position: sticky;
  z-index: 100;
}

#logo{
  height: 50px;
  width: 30px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.nav-link{
  color: #919191!important;
}

.nav-link:hover{
  text-outline: 1px gray;
color: #cb00ff!important;
}

.nav-link4{
  color: #FFFF!important;
}
.nav-link4:hover{
  text-decoration-style: underline;
  text-decoration-color:#cb00ff!important;
}

.nav-link2{
  font-size: 20px;
  color: #919191!important;
}
.nav-link2:hover{
  font-size: 20px;
color: #cb00ff!important;
}
.nav-link3{
  // font-size: 20px;
  cursor: pointer;
  color: white!important;
}
.nav-link3:hover{
  // font-size: 20px;
color: #cb00ff!important;
}


#boxWrapper{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;

}
#actorWrapper{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;

}
#boxWrapperShow{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  position: relative;

}
.boxWrapper1{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;

}
.boxWrapper2{
  position: relative;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;

}

.logo1{
  position:relative;
  width: 40px;
  height: 30px;
  top:10px;
  padding-right:8px;

}

.quote{
  float:right;
}

.popularList{
  color: #cb00ff;
  font-size: 20px;
}
