// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movies-container{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
.actors-container{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
.category-container{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.movie{
  float: left;
  margin-bottom: 25px;
}

#searchMovie{
  display: block;
}

#searchActor{
  display: none;
}

#searchCategory{
  display: none;
}

.actors-container{
  display: none;
}

#genreSelector{
  
}
