// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headerSearch{
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 5px;
  color: white;
  display: inline-block;
  margin-top: 6px;
  // margin-bottom: 10px;
  border: 1px solid white;
  background-image: url('/assets/bg.jpg');
  font-size: 32px;
}
#searchHeader{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 0px;
  color: white;
  background-image: image_url('bg.jpg');
  display: block;
  font-size: 32px;
}
.errorMessage{
  color: red;
}

#backToTop{
  position: fixed;
  display: none;
  right: 1%;
  bottom: 0%;
  color: white;
  padding: 4px;
  border-radius: 5px;
  background-image: image_url('bg.jpg');
}

#listTop{
  position: sticky;
  top: 0;
  z-index: 10;


}

#accordion{

}


#directorsContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#moviesContainer{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#searchesContainer{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#actorsContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#otherContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

#movieImg{
  height: 150px;
  width: 150px;
  margin-right: 10px;
  align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  float: left;

}
#movieImg2{
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 3px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;

}
#movieButton{
  background: transparent;
  border: 0;
  color: #cb00ff;
  font-size: 35px;
  position: absolute;
  top: 0%;
  right: 0%;

}
.deleteMovie2{
  cursor: pointer;
  color: red;
}

#byGenre{
display: none;
}
#byName{
display: none;
}

#byActor{
display: none;
}
#byDirector{
display: none;
}
#byPopular{
display: none;
}
#byTop{
display: none;
}
#byNowplaying{
display: none;
}
#byUpcoming{
display: none;
}

#discover{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}
#discoverFind{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;

  display: none;
}
#discoverDirector{
  position: relative;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  height: 278px;

  display: none;
}
#discoverActor{
  position: relative;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  height: 278px;

  display: none;
  // overflow-x: scroll;
  // white-space: nowrap;
}





#discoverActorButton{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;
  display: block;

}
#discoverActorButton:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;
  display: block;

}

.number{
  color: #cb00ff;
}
#discoverDirectorButton{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;
  display: block;
}
#discoverDirectorButton:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;
  display: block;
}
#discoverActorResults{
  position: absolute;

  overflow-x: auto;
  overflow-y: hidden;
  height:224px;
  width: 98%;
  max-width: 98%;
  min-width: 10%;
  white-space:nowrap;

}
#discoverDirectorResults{
  position: absolute;

  overflow-x: auto;
  overflow-y: hidden;
  height:224px;
  width: 98%;
  max-width: 98%;
  min-width: 10%;
  white-space:nowrap;
}
#displayHorizontal{
  display: inline-block;
  margin: auto;
  zoom: 1;
  // *display: inline;
  // width: 300px;
}

input[type="submit"]{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
input[type="submit"]:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit1{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit1:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit2{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit2:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit3{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit3:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit4{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit4:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit5{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit5:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit7{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit7:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit8{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit8:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}
.form_submit6{
  background: transparent;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border:#919191 1px solid;

}
.form_submit6:hover{
  background-color: #cb00ff !important;
  background-color: #cb00ff !important;
  border-radius: 4px !important;
  border:#919191 1px solid !important;;

}

.deleteMovie{
  cursor: pointer;
  font-size: 15px;
  color: red;
}
.deleteMovie3{
  cursor: pointer;
  font-size: 15px;
  color: red;
}

input[type="checkbox"] {
  background: transparent;
}

select{
  border-radius: 6px;
  background: transparent;
}

// input[type=text] {
//   border: none;
//   width: 150px;
//   margin-right: 10px;
//   margin-left: 10px;
//   border-bottom:#919191 1px solid;
//   padding: 6px 35px 6px 6px;
// }
.textTitleAreaL{
  border: none;
  width: 100%;
  border-radius: 8px;
  height: 35px;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}
.textTitleAreaS{
  border: none;
  width: 30%;
  border-radius: 5px;
  height: 26px;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}
.textBodyAreaL{
  height: 60px;
  border-radius: 8px;
  width: 100%;
  border:#919191 1px solid;
  padding: 6px 35px 6px 6px;

}

.movie{
  // float: left;
  // display: inline-table;
  width: 95%;
  font-size: 15px;
  border: 1px solid #d0d0d0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;


}
.movieBody{
  // float: left;
  // display: inline-table;
  height: 100%;
  position: relative;


}

.movieHeader{
  font-size: 15px;
  text-decoration: none;
  color: #00000;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 12px;
  overflow: visible;

}
.movieTitle{
  color: black;
  font-weight: bold;
  font-size: 23px;
}
.actorTitle{

  color: black;
  font-weight: bold;
  font-size: 15px;
}
.movieDetails{
  font-size: 15px;
  font-weight: bold;
  color: #cb00ff;
}
.movieInfo{
  font-size: 15px;
  font-weight: bold;
  color: black;
}


#searchMovie{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}
#searchMovies{
  // overflow-y: scroll;
}

#searchActor{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}
#searchDirector{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}
#searchDiscover{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}

#searchCategory{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}

#searchPopular{

  padding: 10px;
  font-size: 15px;
  display: none;
}

#searchTop{

  padding: 10px;
  font-size: 15px;
  display: none;
}
#searchLatest{

  padding: 10px;
  font-size: 15px;
  display: none;
}
#searchUpcoming{

  padding: 10px;
  font-size: 15px;
  display: none;
}

#showAll{
  padding: 12px;
  font-size: 15px;
  display: none;
}



#genreChecks{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;

  display: none;

}
#searchNav{
  font-size: 15px;
  border: 1px solid #d0d0d0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 25px;

  display: block;

}

#listHolder{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;




}

.red{
  color: red;

}

#hideList{
  display: block;
}


.searchA{
  display: none;
}

#rando{
  display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
}

#stickyDiv{
  position: sticky;
  top: 0;

}
#genreGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap:1em;
  height: 20%;
  grid-column-gap: 1em;
}

#genreLinks{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}

#genreDrop{

}
#ratingDrop{


}
#movieRatings{
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  display: none;
}


.listForm{

  width: 25%;
  margin: 0 auto;

}

.link{
  text-decoration: none;
  color: #919191;
}

.link:hover{
  cursor: pointer;
  text-decoration: underline #cb00ff;

}

#errorMessage{
  padding: 12px;
}

#loading{
  display: none;
}
#loadingAnD{
  display: none;
}
#loadingAnD2{
  display: none;
}

.loadingImg{
  border: 0;
}

#optionD{
  display: inline-block;

}
#option1{

}
#option2{

}
#option3{

}
#option4{

}
#option5{

}
#option6{

}
#option7{

}
#option8{

}

.tmdbContainer{
  position: relative;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  overflow: hidden;
}

.tmdbText{
  position: absolute;
  top: 26%;
}

.tmdText2{
  font-size: 10px;

}
