// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#directorsContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#moviesContainer{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#searchesContainer{
  font-family: helvetica;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#actorsContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}
#otherContainer{
  font-family: helvetica;
  display: none;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

#movieImg{
  height: 150px;
  width: 150px;
  margin-right: 10px;
  align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  float: left;

}
#movieButton{
  position: absolute;
  top: 4.5%;
  right: 1%;

}

.movie{
  // float: left;
  // display: inline-table;
  width: 95%;
  font-size: 15px;
  border: 1px solid #d0d0d0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;


}
.movieBody{
  // float: left;
  // display: inline-table;
  height: 100%;
  position: relative;


}

.movieHeader{
  font-size: 15px;
  text-decoration: none;
  color: #00000;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 12px;
  overflow: visible;

}
.movieTitle{
  color: black;
  font-weight: bold;
  font-size: 23px;
}
.movieDetails{
  font-size: 15px;
  font-weight: bold;
  color: #cb00ff;
}
.movieInfo{
  font-size: 15px;
  font-weight: bold;
  color: black;
}


#searchMovie{
  display: none;
}

#searchActor{
  display: none;
}
#searchDirector{
  display: none;
}

#searchCategory{
  display: none;
}

#searchPopular{
  display: none;
}

#searchTop{
  display: none;
}
#searchLatest{
  display: none;
}
#searchUpcoming{
  display: none;
}

#showAll{
  display: none;
}



#genreChecks{
  display: none;

}

#genreLinks{
display: none;
}

#genreDrop{

}
#ratingDrop{


}
#movieRatings{
  display: none;

}



.link{
  text-decoration: none;
  color: #919191;
}

.link:hover{
  text-decoration: underline #cb00ff;

}

#option1{

}
#option2{

}
#option3{

}
#option4{

}
#option5{

}
#option6{

}
#option7{

}
#option8{

}
