// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listLink{
  color: black;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
}
.listLink:hover{
  color: black;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline #cb00ff;
}
.userLeft{
  width: 98%;
}
.userRight{
  width: 100%;
}

.userWrapper{
  font-family: helvetica;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
.userListWrapper{
  position: relative;
  font-family: helvetica;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 12px;
  overflow: visible;
}
.listCount{
  position: absolute;
  top: 2%;
  right: 1%;
}
.similiarMovies{
  position: absolute;
  top: 0%;
  right: 1%;
}

#displayMovies{
  font-family: helvetica;
  font-size: 15px;
  // border: 1px solid #d0d0d0;
  // padding: 12px;
  // border-radius: 8px;
  // margin-bottom: 25px;
  display: block;
}

#socialS{
  font-family: helvetica;
  font-size: 15px;
  border: 1px solid #d0d0d0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 25px;
  display: block;

}
